html{
    scroll-behavior: smooth;
}
body{
    background-image: url(kepek/alaphtmlkepek/flat-design-pixel-art-cloud-illustration_23-2150176371.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    max-width: 1400px;
    font-size: 20px;
    margin: auto;
    text-align: justify;
    color: white;
    
}

#hatter{
    background-color: rgb(32, 32, 104);
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    border-radius: 3px;
}

#intro{
    font-family: sans-serif;
    font-style: italic;
    font-size: 15px;
}

#mariobody{
    background-image: url(kepek/mariokepek/mariobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1000px;
    font-size: 20px;
    margin: auto;
    text-align: justify;
    color: black;
}

#mariohatter{
    background-color: #CC0000;
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
}

#pacmanbody{
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1000px;
    font-size: 20px;
    margin: auto;
    text-align: justify;
    color: black;
    background-image: url(kepek/pacmankepek/pacmanbg.jpg);
}
#pacmanhatter{
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    background-color: #29ADB2;
}
#doomhatter{
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    background-color: rgb(130, 126, 126);
}
#doombody{
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1000px;
    font-size: 20px;
    margin: auto;
    text-align: justify;
    color: black;
    background-image: url(kepek/doomkepek/bg.jpg);
}

#minecraftbody{
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1000px;
    font-size: 20px;
    margin: auto;
    text-align: justify;
    color: black;
    background-image: url(kepek/minecraftkepek/hatter.jpg);
}
#minecrafthatter{
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    background-color: rgb(10, 151, 10);
}

#NAVSÁV
.navbar{
    background-color: black;
}

#SZOVEGEKESKEPEK

h1{
    text-align: center;
    color: black;
    font-family: 'Anton', sans-serif;
    
}
h2{
    text-align: center;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto Slab', serif;
}
h3{
    text-indent: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto Slab', serif;

}

p{
    font-family: 'Roboto Slab', serif;
}
.bal{
    float: left;
}

.jobb{
    float: right;
}

img{
    width: 400px;
    height: 300px;
    margin: 15px;
    border: #101820 solid 0.5px;
    border-radius: 8px;
    display: flex;
}

.doboz{
    display: flex;
    flex-direction: row;
}

#kiskep{
    width: 300px;
    height: 200px;
    margin: 15px;
    border: #101820 solid 0.5px;
    border-radius: 8px;
    display: flex;
}